@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import "~skeleton-scss/scss/skeleton.scss";

// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile: "min-width: 400px" !default;
$bp-larger-than-phablet: "min-width: 550px" !default;
$bp-larger-than-tablet: "min-width: 750px" !default;
$bp-larger-than-desktop: "min-width: 1000px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$white: #e8e8e8 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

// Typography
$font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1280px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
$padding: 0 4px !default;

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button.button-secondary,
button.button-secondary {
  color: #fff;
  background-color: $dark-grey;
  border-color: $dark-grey;
}

input {
  &[type="submit"].button-secondary,
  &[type="reset"].button-secondary,
  &[type="button"].button-secondary {
    color: #fff;
    background-color: $dark-grey;
    border-color: $dark-grey;
  }
}

.button.button-secondary:hover,
button.button-secondary:hover {
  color: #fff;
  background-color: $light-grey;
  border-color: $light-grey;
}

input {
  &[type="submit"].button-secondary:hover,
  &[type="reset"].button-secondary:hover,
  &[type="button"].button-secondary:hover {
    color: #fff;
    background-color: $light-grey;
    border-color: $light-grey;
  }
}

.button.button-secondary:focus,
button.button-secondary:focus {
  color: #fff;
  background-color: $light-grey;
  border-color: $light-grey;
}

input {
  &[type="submit"].button-secondary:focus,
  &[type="reset"].button-secondary:focus,
  &[type="button"].button-secondary:focus {
    color: #fff;
    background-color: $light-grey;
    border-color: $light-grey;
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}

.fluidMedia {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  position: relative;
}
.fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}

body {
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

.has-background-black-bis {
  background: $dark-grey;
  color: $light-grey;
}

.tag {
  border-radius: $global-radius;
  font-size: 0.8em;
  padding: 0.25em;
  margin: 0.25em;
}
.is-dark {
  background: $dark-grey;
  color: $light-grey;
}
.is-light {
  background: $light-grey;
  color: $dark-grey;
}

.has-background-black-bis a {
  background: $dark-grey;
  color: $primary-color;
}

.menu {
  padding: $padding;
}

.navbar {
  background: $light-grey;
}
.navbar .navbar-item {
  padding: $padding;
}
.navbar-brand {
  float: left;
}
.navbar-end {
  float: right;
}
.navbar-menu {
  float: left;
  display: inline;
}
.navbar-start {
  float: left;
}

.card {
  border: 1px solid $light-grey;
  padding: $padding;
  border-radius: $global-radius;
}
.card-header {
  border-bottom: 1px solid $light-grey;
  text-align: center;
  font-weight: bold;
}
.card-body {
  font-size: 0.9em;
}
.control .input {
  display: block;
  width: 100%;
}

.has-shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 2px 4px 0px rgba(87, 87, 87, 1);
}

.mt-4 {
  margin-top: 1em;
}

.is-striped tr:nth-child(even) {
  background-color: $light-grey;
}

.is-striped tr:hover {
  background-color: $white;
}

.alert-success {
  background: green;
  color: white;
}
.alert {
  padding: 4px;
}

.container {
  max-width: 1280px;
}

.pagination {
  list-style: none;
}
.page-item {
  float: left;
}
.page-item a,
.page-item span {
  border: 1px solid $border-color;
  padding: 1em;
  margin: 0;
}
.table {
  @extend .u-full-width;
}
.table td {
  padding: 1em 0;
}

ul.menu-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.menu-label {
  margin: 0;
  padding-top: 1em;
  border-bottom: 1px solid $light-grey;
}
.menu-list a {
  display: block;
  padding: 0.25em 0;
  text-decoration: none;
}
.menu-list a:hover {
  background-color: $light-grey;
  color: $dark-grey;
}
.menu-list a.active {
  background-color: $light-grey;
  color: $dark-grey;
}
td .subaction {
  display: none;
  position: absolute;
  font-size: 0.8em;
}
td:hover .subaction {
  display: block;
}

.hidden {
  display: none;
}
.thumb {
  border: transparent 3px solid;
  max-width: 100px;
}
.thumb:hover {
  border: $secondary-color 3px solid;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;

  &.modal-open {
    visibility: visible;
    backface-visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  .modal-inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-content {
      background-color: white;
      max-width: 35em;
      padding: 1em 1.5em;
      position: relative;
      margin: 2em;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);

      .modal-close-icon {
        position: absolute;
        right: 1.5em;
      }

      .modal-content-inner {
        padding-right: 2em;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-bottom: 0.25em;
        }

        p {
          margin-bottom: 1em;
        }
      }

      .modal-buttons-seperator {
        margin: 1.5em 0;
        margin-top: 0;
      }

      .modal-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        button {
          margin-left: 1em;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.fluidContainer {
  width: 80%;
  margin: auto;
}

.scrollable {
  max-height: 55vh;
  overflow: auto;
}
.editor {
  background: #eee;
  height: 50vh;
  overflow: auto;
  padding: 1em;
}

#mdpreview {
  background: #fff;
  color: #000;
  padding: 0.25em;
  overflow: auto;
  height:50vh
}
