$larablog-1-hex: #54BAB9;
$larablog-2-hex: #606060;
$larablog-3-hex: #303030;
$larablog-4-hex: #f2eb80;
$larablog-5-hex: #FBF8F1;


body {
    background-color: $larablog-5-hex;
    color: $larablog-1-hex;
}

a {
    color: $larablog-2-hex;
    &:hover {
        color: $larablog-3-hex;
    }
}
