$larablog-1-hex: #1b1259;
$larablog-2-hex: #1730bf;
$larablog-3-hex: #11238c;
$larablog-4-hex: #f2eb80;
$larablog-5-hex: #f2f2f2;


body {
    background-color: $larablog-5-hex;
    color: $larablog-1-hex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: $larablog-2-hex;
    color: $larablog-4-hex;
    border: solid .25em $larablog-2-hex;
}
a {
    color: $larablog-2-hex;
    &:hover {
        color: $larablog-3-hex;
    }
}
