// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile: "min-width: 400px";
$bp-larger-than-phablet: "min-width: 550px";
$bp-larger-than-tablet: "min-width: 750px";
$bp-larger-than-desktop: "min-width: 1000px";
$bp-larger-than-desktophd: "min-width: 1200px";

// Colors
$light-grey: #e1e1e1;
$dark-grey: #333;
$primary-color: #edf033;
$secondary-color: lighten($dark-grey, 13.5%);
$border-color: #bbb;
$link-color: #1eaedb;
$font-color: #222;

//Grid Variables
$container-width: 960px;
$container-width-larger-than-mobile: 85%;
$container-width-larger-than-phablet: 80%;
$total-columns: 12;
$column-width: 100 / $total-columns; // calculates individual column width based off of # of columns
$column-margin: 4%; // space between columns

// Misc
$global-radius: 4px;
$padding: 0 4px;

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

html {
  min-height: 101%;
}

.button.button-secondary,
button.button-secondary {
  color: #fff;
  background-color: $dark-grey;
  border-color: $dark-grey;
}

input {
  &[type="submit"].button-secondary,
  &[type="reset"].button-secondary,
  &[type="button"].button-secondary {
    color: #fff;
    background-color: $dark-grey;
    border-color: $dark-grey;
  }
}

.button.button-secondary:hover,
button.button-secondary:hover {
  color: #fff;
  background-color: $light-grey;
  border-color: $light-grey;
}

input {
  &[type="submit"].button-secondary:hover,
  &[type="reset"].button-secondary:hover,
  &[type="button"].button-secondary:hover {
    color: #fff;
    background-color: $light-grey;
    border-color: $light-grey;
  }
}

.button.button-secondary:focus,
button.button-secondary:focus {
  color: #fff;
  background-color: $light-grey;
  border-color: $light-grey;
}

input {
  &[type="submit"].button-secondary:focus,
  &[type="reset"].button-secondary:focus,
  &[type="button"].button-secondary:focus {
    color: #fff;
    background-color: $light-grey;
    border-color: $light-grey;
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}

.fluidMedia {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  position: relative;
}
.fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
}

body {
  font-family: arial,helvetica,verdana,sans-serif;
  line-height: 2;
  font-size: 1.6em;
  color: #000;
  background: whitesmoke;
}

.has-background-black-bis {
  background: $dark-grey;
  color: $light-grey;
}

.tag {
  border-radius: $global-radius;
  font-size: 0.8em;
  padding: 0.25em;
  margin: 0.25em;
}
.is-dark {
  background: $dark-grey;
  color: $light-grey;
}
.is-light {
  background: $light-grey;
  color: $dark-grey;
}

.has-background-black-bis a {
  background: $dark-grey;
  color: $primary-color;
}

.menu {
  padding: $padding;
}
/*
.navbar {
  background: $light-grey;
}
.navbar .navbar-item {
  padding: $padding;
}
.navbar-brand {
  float: left;
}
.navbar-end {
  float: right;
}
.navbar-menu {
  float: left;
  display: inline;
}
.navbar-start {
  float: left;
}*/

.navBar {
  background-color: whitesmoke;
  overflow: hidden;
}

/*Floats each item to the left with padding of 14 & 16 px.
  Removes the underline with text decoration = none.*/
.navBar a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Background color change during hover state*/
.navBar a:hover {
  background-color: $link-color;
  color: #000;
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon {
  display: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 700px) {
  /*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
  .navBar a:not(:first-child) {
    display: none;
  }
  /*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon {
    display: block;
    float: right;
    color: #333;
  }

  /*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /*Removes the originally set float and brings them to view*/
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.card {
  border: 1px solid $light-grey;
  padding: $padding;
  border-radius: $global-radius;
}
.card-header {
  border-bottom: 1px solid $light-grey;
  text-align: center;
  font-weight: bold;
  background: #ffffff; /* Old browsers */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.card-title {
  font-size: 1em;
  margin-top: 0.5em;
}
.card-body {
  font-size: 0.9em;
}
.control .input {
  display: block;
  width: 100%;
}

.has-shadow {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 2px 4px 0px rgba(87, 87, 87, 1);
}

.mt-4 {
  margin-top: 1em;
}

.is-striped tr:nth-child(even) {
  background-color: $light-grey;
}
.alert-success {
  background: green;
  color: white;
}
.alert {
  padding: 4px;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(2em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));

}

h1.title {
  display: inline;
  font-weight: bold;
}
h1.primary {
  background: red;
  box-shadow: 0.7em 0 red;
  color: #000;
}

h1.secondary {
  background: blue;
  box-shadow: 0.7em 0 blue;
  color: whitesmoke;
}

h2.title {
  display: inline;
  font-weight: bold;
}
h2.primary {
  background: $primary-color;
  box-shadow: 0.7rem 0 $primary-color;
  color: #000;
}

h2.secondary {
  background: $dark-grey;
  box-shadow: 0.7rem 0 $dark-grey;
  color: $light-grey;
}

h3.title {
  display: inline;
  font-weight: bold;
}
h3.primary {
  background: $primary-color;
  box-shadow: 0.7rem 0 $primary-color;
  color: #000;
}

h3.secondary {
  background: $dark-grey;
  box-shadow: 0.7rem 0 $dark-grey;
  color: $light-grey;
}
.secondary a {
  color: $light-grey;
}
.primary a {
  color: #000;
}

.secondary a:hover {
  color: $link-color;
}
.primary a:hover {
  color: $link-color;
}

.headerimage {
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.headerimage img {
  position: relative;
  object-fit: fill;
  z-index: 0;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slideShow {
  height: 75vh;
  background-color: #333;
}

.slide {
  font-size: 1.2em;
  display: none;
  animation: fadeIn 1s;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.slide img {
  z-index: 0;
  filter: blur(5px);
  overflow: auto;
  margin: auto;
  position: absolute;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.halftone {
  background: rgba(0, 0, 0, 0.75);
  max-width: 75%;
  margin-left: auto;
  margin-top: 1em;
  padding: 1.5em;
  color: #fff;
  border-radius: $global-radius;
}
.halftone a {
  color: #fff;
  text-decoration: none;
}
.title a {
  text-decoration: none;
}

.img-400 {
  max-width: 400px;
}
.img-200 {
  max-width: 200px;
}

.previewContents {
  hyphens: auto;
}

.has-bottom-border {
  padding-bottom: 1em;
  border-bottom: solid 1px $primary-color;
}

.superHeadline {
  top: -0.5em;
  position: relative;
}

.contents {
  border-top: $primary-color 1px solid;
  padding-top: 1em;
}

.contents h2,
h3 {
  letter-spacing: 0;
}

.pagination {
  list-style: none;
  margin-top: 1em;
}
.page-item {
  float: left;
}
.page-item a,
.page-item span {
  @extend button;
}
.page-item.active span.page-link {
  background-color: $primary-color;
}

.cke_editable {/*reclaims space on the research textarea from the ckeditor default*/
  cursor: text;
  margin-left: 10px;
  margin-right: 10px;
  }

  .img-hover-zoom {
      overflow: hidden;
      
  } 
  
.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(2) rotate(15deg);
}